/* ===== PROFILE DETAILS START ===== */
.profile-page-section .author-online::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #8bbe44;
    display: inline-block;
    vertical-align: baseline;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-page-section .author-online:hover{
    background-color: #fff;
}
.profile-page-section .author-social {
    margin: 30px 0;
}
.profile-page-section .author-social li {
    display: inline;
}
.profile-page-section .group-button a + a {
    margin-top: 20px;
}
.profile-page-section .aside-list-section {
    margin-top: 30px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
}
.profile-page-section .aside-list-nav li a {
    padding: 18px 20px;
    display: block;
}
.profile-page-section .aside-list-nav li a {
    border-bottom: 1px solid #dcdcdc;
}
.profile-page-section .aside-list-nav li:last-of-type a {
    border-bottom: none;
}
.profile-page-section .aside-list-nav li a.active {
    border-bottom: 2px solid #8bc34a;
    color: #263238;
}
.profile-page-section .author-features-list::before {
    content: "(";
}
.profile-page-section .author-features-list::after {
    content: ")";
}
.profile-page-section .author-features-list::before,
.profile-page-section .author-rating::after {
    color: #707d83;
}
.profile-page-section .aside-list-nav i {
    margin-right: 14px;
    color: #d0d0d0;
}
.profile-page-section .aside-list-nav li a.active i {
    color: #8bc34a;
}
.profile-page-section .author-features {
    margin-top: 30px;
}
.profile-page-section .author-features .author-features-block {
    width: 25%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media (max-width: 599px) {
    .profile-page-section .author-features .author-features-block {
        width: 50%;
    }
}
@media (max-width: 479px) {
    .profile-page-section .author-features .author-features-block {
        width: 100%;
    }
}
.profile-page-section .author-features .author-features-block {
    display: block;
    padding: 20px 10px;
    border: 1px solid #dfdfdf;
    text-align: center;
}
.profile-page-section .author-features ul li + li .author-features-block {
    border-left: none;
}
@media (max-width: 599px) {
    .product-page-section .author-features ul li + li .author-features-block {
        border: 1px solid #dfdfdf;
    } 
}
.profile-page-section .author-features-block .author-features-block-label, 
.profile-page-section .author-features-block .author-features-block-info {
    display: block;
}
.profile-page-section .author-features-block-label {
    color: #263238;
    margin-bottom: 12px;
}
.profile-page-section .author-features-block-info i + i {
    padding-left: 2px;
}
.profile-page-section .author-features-block-info i {
    color: #ffa726;
    font-size: 13px;
}
.profile-page-section .author-rating {
    margin-left: 8px;
}
.profile-page-section .author-rating::before {
    content: "(";
}
.profile-page-section .author-rating::after {
    content: ")";
}
.profile-page-section .author-rating::before, 
.profile-page-section .author-rating::after {
    color: #707d83;
}
.profile-page-section .about-me-section {
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
    border: 1px solid #dfdfdf;
}
.profile-page-section .aside-section .author-info{
    margin: 26px 0;
}
.profile-page-section .aside-section .author-info .author-profile{
    margin-left: 14px;
}
.profile-page-section .aside-section .author-info .author-profile .author-name{
    font-size: 18px;
    text-transform: capitalize;
}
.profile-page-section .aside-section .quantity-sales .fa{
    font-size: 20px;
    color: #a6b5bb;
}
.profile-page-section .main-section{
    padding-bottom: 120px;
}
.profile-page-section .main-section .product-img{
    padding: 17px 19px;
    border: 1px solid #dfdfdf;
}
.profile-page-section .main-section .product-img img {
    width: 100%;
}
.profile-page-section .main-section .title{
    margin: 30px 0;
}
.profile-page-section .main-section p{
    color: #707070;
}
/************** progress bar **********************/
.profile-page-section .progress-wrap {
    margin-bottom: 24px;
}
.profile-page-section .progress-wrap-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.profile-page-section .author-item-skills .progress {
    background-color: #f4f4f4;
    height: 18px;
    border-radius: 5px;
}
.profile-page-section .author-item-skills .progress-bar {
    float: left;
    height: 100%;
    line-height: 20px;
    text-align: center;
    background-color: #b5b5b5;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
    border-radius: 5px;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, #cbcbcb 15px, #cbcbcb 30px);
}
.profile-page-section .author-item-skills .progress-wrap span {
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    color: #263238;
    margin-bottom: 14px;
    font-style: italic;
    font-weight: 600;
}
.profile-page-section .author-item-skills .progress-wrap span:last-of-type {
    font-style: normal;
}
/************** progress bar end **********************/
/* ===== PROFILE DETAILS END ===== */