/*===== WITHDRAWALS-SECTION START =====*/
.withdrawals-section {
    background-color: #f4f6f5;
}
.withdrawals-section .content-section{
    background-color: #FFFFFF;
    border: 1px solid #dedede;
}
.withdrawals-section .sale-history {
    margin-bottom: 201px;
}
.withdrawals-section .sale-history .title {
    border-bottom: 1px solid #d7d7d7;
    padding: 20px 0 24px 30px;
}
.withdrawals-section .sale-history .panel {
    padding: 35px 14px 35px 9px;
}
@media (max-width: 991px) {
    .withdrawals-section .sale-history{
        margin-bottom: 0;
    }
}
@media (max-width: 991px){
    .withdrawals-section .container.d-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
/*===== WITHDRAWALS-SECTION END =====*/

/*===== HISTORY-TABLE START =====*/
.history-table tbody tr td {
    padding: 15px 28px;
}
/*===== HISTORY-TABLE END =====*/

/*===== FORM START =====*/
.form-group  .form-group-row .required {
    padding-bottom: 20px;
}
/*===== WITHDRAWALS START =====*/
.withdrawals-form {
    padding-bottom: 50px;
    margin-right: 28px;
}
.withdrawals-form .title.text-black {
    border-bottom: 1px solid #d7d7d7;
    padding: 20px 0 24px 30px;
}
@media (max-width: 991px) {
    .withdrawals-form{
        margin-right: 0;
        margin-bottom: 40px;
    }
    .history-table tbody tr td {
        padding: 18px 76px;
    }
}
/*===== WITHDRAWALS END =====*/

/*===== FROM START =====*/
.form-group .form-group-row .form-control {
    width: 490px;
}
.form-group-row + .form-group-row {
    padding-top: 30px;
}
.form-group {
    padding-top: 30px;
    padding-right: 36px;
    padding-left: 36px;
}
.earnings-form .btn-w {
    padding-top: 38px;
    padding-left: 36px;
}
.earnings-form {
    padding-bottom: 143px;
}
.form-group label.required::after {
    content: "";
}
.form-group .required sup {
    padding-left: 6px ;
}
@media (max-width: 991px) {
    .form-group .form-group-row .form-control {
        width: inherit;
    }
}
/*===== FORM END =====*/