ul.breadcrumb {
    padding: 48px 0 40px;
}
ul.breadcrumb li {
    display: inline;
    color: #263238;
}
ul.breadcrumb li+li:before {
    padding: 0 7px;
    color: #8bc34a;
    content: "-";
}
ul.breadcrumb li a {
    color: #b0bec5;
}
ul.breadcrumb li a:hover {
    color: #8bc34a;
}