.card-example{
    padding: 50px 0;
}

.card .card-img{
    border: 1px solid #ebeeef;
    border-bottom: none;
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
}
.card .card-img{
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.card .card-img img{
    width: 100%;
}
.card .card-description-wrapper{
    background-color: #fff;
    border: 1px solid #ebeeef;
    border-top: none;
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.card:hover .card-img,
.card:hover .card-description-wrapper{
    -webkit-box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
}
.card .card-description .title{
    color: #263238;
    font-weight: 500;
}
.card .card-description .subtitle{
    color: #8bc34a;
    font-weight: 500;
    font-size: 14px;
}
.card .card-description .price{
    color: #263238;
    font-weight: 700;
    font-size: 20px;
}
.card .card-description-wrapper .card-text-info, 
.card .card-description-wrapper .card-comments, 
.card .card-description-wrapper .card-like{
    display: none;
}
.card .card-author-info{
    border-top: 1px solid #e7ecf2;
}
.card .card-author-info .card-author img{
    width: 30px;
    height: 30px;
    margin-right: 12px;
}
.card .card-author-info .card-author span{
    font-size: 14px;
    color: #546e7a;
    font-weight: 500;
}
.card .card-author-info .product-rating{
    color: #ffa726;
}
.card .card-author-info .product-rating li + li {
    margin-left: 3px;
}
.card .card-author-info .product-download{
    font-size: 12px;
    color: #263238;
    margin-left: 8px;
}
.card .card-author-info .product-download::before,
.card .card-author-info .product-comment::before,
.card .card-author-info .product-like::before,
.card .card-author-info .product-download::after{
    color: #b0bec5;
    content: '(';
}
.card .card-author-info .product-download::after,
.card .card-author-info .product-comment::after,
.card .card-author-info .product-like::after{
    content: ')';
    color: #b0bec5;
}
/* =====card large==== */
.card.large-card .card-description{
    padding: 25px 30px 15px;
}
.card.large-card .card-description .title{
    font-size: 18px;
    margin-bottom: 5px;
}
.card.large-card .card-author-info{
    padding: 20px 30px;
}
/* ====medium-card==== */
.card.medium-card .card-description{
    padding: 25px 20px 20px;
}
.card.medium-card .card-description .title{
    font-size: 16px;
    margin-bottom: 10px;
}
.card.medium-card .card-author-info{
    padding: 16px 20px;
}
/* =====medium-row-card==== */
.card.row-card{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.card.row-card .card-img,
.card.row-card .card-description-wrapper{
    border: none;
}
.card.row-card .card-img img{
    width: 240px;
    height: 180px;
}
.card.row-card .card-description-wrapper{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.card.row-card .card-description{
    padding: 25px 30px 15px;
}
.card.row-card .card-description .price{
    font-size: 30px;
}
.card.row-card .card-author-info{
    padding: 15px 30px;
    margin-top: auto;
}
.card.row-card .card-description-wrapper .card-text-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
}
.card.row-card .card-description-wrapper .card-text-info p{
    font-size: 14px;
    color: #70838d;
}
.card.row-card .card-description-wrapper .card-text-info span{
    font-size: 14px;
    color: #aeb4bb;
}
.card.row-card .card-description-wrapper .card-comments, 
.card.row-card .card-description-wrapper .card-like{
    border-left: 2px solid #aeb4bb;
    margin-left: 30px;
    display: inline-block;
}
.card.row-card .card-description-wrapper .card-comments i
,.card-like i{
    margin: 0 15px;
    color: #8bc34a;
    font-size: 16px;
}
.card.row-card .card-description-wrapper .card-comments span
,.card-like span{
    color: #111;
    font-size: 12px;
}
/* =====card-aside===== */
.aside-card{
    margin-top: 25px;
    padding-bottom: 28px;
    border-bottom: 1px solid #dde3e8;
    background-color: #fff;
}
.aside-card img{
    width: 100%;
}
.aside-card .card-author-info{
    border-top: none;
}
.card-aside-item-info{
    padding: 20px 0 18px;
}
.card-aside-title{
    font-weight: 700;
    color: #263238;
    margin-bottom: 10px;
}
.card-aside-title >*{
    font-size: 16px;
}
.card-categories{
    font-size: 14px;
    color: #8bc34a;
}
/*=====card-label===== */
.card-label{
    position: relative;
}
.card-triangle{
    height: 0;
    width: 0;
    border-top: 60px solid #8bc34a;
    border-left: 0px solid transparent;
    border-right: 60px solid transparent;
    position: absolute;
}
.triangle-ico{
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 14px;
    color: #fff;
    font-size: 18px;
}
/* =====product card===== */
.product-card{
    -webkit-box-shadow: 0px 1px 2px rgba(205, 214, 222, 0.75);
    box-shadow: 0px 1px 2px rgba(205, 214, 222, 0.75);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    background-color: #fff;
}
.product-card:hover{
    -webkit-box-shadow: 0px 16px 20px rgba(216, 216, 216, 0.75);
    box-shadow: 0px 16px 20px rgba(216, 216, 216, 0.75);
}
.product-card-item-info{
    padding: 16px 15px 6px 15px;
}
.product-card-item-info span:nth-child(1){
    font-size: 14px;
    color: #263238;
}
.product-card-item-info span:nth-child(2){
    font-size: 12px;
    margin-top: 8px;
    color: #8bc34a;
}
.product-card-item-info span:nth-child(3){
    font-size: 18px;
    font-weight: 700;
    color: #263238;
    margin-top: 10px;
}