form label {
    font-weight: 400;
    font-size: 15px;
    color: #444444;
}
label.required::after {
    content: "*";
    color: #8bc34a;
    margin-left: 4px;
    font-weight: bold;
    position: relative;
    top: -6px;
}
form input, form textarea, form .file-upload {
    font-size: 15px;
    background-color: #f9f9f9;
    border: 1px solid #d8d8d8;
    color: #707070;
}
form input, form textarea {
    padding: 12px 15px;
}
form .file-upload {
    padding: 7px;
}
form input:focus, form textarea:focus, form .file-upload:focus {
    border-color: #8bc34a;
}
form input[type="file"] {
    display: none;
}
form input[type="file"] + label {
    font-size: 12px;
    display: inline-block;
    color: #444;
    border: 1px solid #dcdcdc;
    padding: 6px 0;
    width: 92px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
.file-upload .file-name {
    font-size: 12px;
    color: #707070;
    margin-left: 12px;
}
input[placeholder] {
    font-size: 15px;
    color: #707070;
}

