/*===== TABLE =====*/
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th {
    text-align: left;
}
.table tbody tr + tr  td {
    border-top: 1px solid #eeeeee;
}
.table tbody tr:nth-child(even) {
    background-color: #fbfbfb;
}
/*===== TABLE END =====*/

/*===== TABLE-SALE =====*/
.table-sales thead th{
    background-color: #455a64;
    color: #fff;
    font-size: 14px;
    padding: 22px 0;
}
.table-sales  thead tr th:first-child{
    text-align: center;
}
.table-sales tbody tr td:first-child{
    text-align: center;
}
.table-sales tbody tr td{
    padding: 22px 0;
    font-size: 14px;
    color: #333333;
}
.table-sales tbody tr .text-bold{
    font-weight: 700;
}
/*===== TABLE-SALE END=====*/

/*Таблиця:
Для таблиці- задав на шапку фон для тексту в шапці колір для тексту білий внутрішні відступи(padding), задав ширину 100%
вирівняв шрифт по лівому краю(text-align: left);
Для самой таблички задав (border-collapse: collapse;) для того щоб небуло відступів між колонками
задав лінію на верху для колонок задав фон для кожної парної таблички за допомогою (htn-child(even))
розмір шрифту задав і внутрішні відступи в таблиці для айдішніків щоб вони були жирними на сам елемент tr задав клас text-bold
і на нього вже задав жирність шрифту;*/