/*===== NAV =====*/
.nav li{
    padding: 13px 30px;
    background-color: #ffffff;
}
.nav-pills-container li:hover{
    background-color: #e74c3c;
    color: #ffffff;
}
.nav li:active{
    background-color: #e74c3c;
    color: #ffffff;
}
.nav li + li{
    margin-left: 6px;
}
/*===== NAV  END=====*/


/*Таби:
на ul задав класи nav nav-pills-container d-flex justify-content-center;
на nav li задав падінги і фоновий колір білий,
nav li + li марджіни щоб вони відступили один від одного,
.nav-pills-container li:active,
.nav-pills-container li:hover
задав фоновий колір коли на водишся на елемент і колір тексту;*/