/* к секции aside разметка находиться в app> aside.html */

/* =====aside-section===== */
.aside-section{
    border: 1px solid #dcdcdc;
    background-color: #fff;
    padding: 25px;
}
.aside-section .title{
    padding-bottom: 17px;
}
.aside-section .aside-separation {
    border-top: 1px solid #dcdcdc;
}
/* =====aside-section end===== */