/*===== SUB-TITLE =====*/
.sub-title{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 30px;
    color: #ffffff;
}
/*===== SUB-TITLE  END=====*/

/*===== SMALL-TITLE =====*/
.small-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #7a7a7a;
}
/*===== SMALL-TITLE  END=====*/

/*===== PHONE-TITLE  =====*/
.phone-title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color:  #263238;
}
/*===== PHONE-TITLE  END=====*/

/*===== BANNER-TITLE  =====*/
.banner-title{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 36px;
    color: #ffffff;
}
/*===== BANNER-TITLE  END =====*/