/*===== TEXT-SECTION =====*/
.text-section{
    font-size:  15px;
    font-weight: 400;
    line-height: 24px;
}
/*===== TEXT-SECTION END=====*/

/*===== DEFAULT-TEXT  =====*/
.default-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
/*===== DEFAULT-TEXT END  =====*/


/*Текст:
text-section: До нього відносяця параграфи з такими блоками (Why You Choose...,  і в Footer блок з About Company, і до секції About me, на сторінці
About us Блок To Know Who We Are)
default-text: На сторінці Product_details(Блок з назвою GTBuilder - Construction & Building WordPress Theme)
*/