/*===== SECTION-TITLE =====*/
.section-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
}
.section-small-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
}
/*===== SECTION-TITLE END=====*/

/*===== PRODUCT-TITLE =====*/
.product-title{
    font-size: 18px;
    font-weight:  500;
    line-height: 60px;
}
.product-small-title{
    font-size: 16px;
    font-weight:  700;
    line-height: 60px;
}
/*===== PRODUCT-TITLE END =====*/

/*===== ASIDE-TITLE =====*/
.aside-title{
    font-size: 20px;
    font-weight:  700;
    line-height: 60px;
}
/*===== ASIDE-TITLE END =====*/

/*Заголовки:
Для стандартного тексту; section-title (Let’s Check Out Our Newest Release Prodcuts,
This Week Trending Products, Why You Choose Foxtar Market Place?, Free Monthly Tutorials To Help You With Your Project ) і задав йьому розмір,
жирність задав йьому жирність між текстом (line-height)
Для cекції з карточками з заголовком: section-small-title (Why You Choose Foxtar Market Place?, Free Monthly Tutorials To Help You With Your Project)
Карточки з продуктами на першому макеті класс: product-title
а на всіх інших макетах крточки і шрифт менший і я задав клас product-small-title;
Для крточків які знаходяться в Categories я задав клас: aside-title;
