/******** INNER ********/
.inner{
    background: url(../img/bg-inner.jpg) no-repeat center/cover;
}
.inner h1{
    font-size: 48px;
    margin-bottom: 34px;
}
.inner .search-section{
    margin-top: 54px;
    position: relative;
}
.inner .search-section input{
    font: 500 14px/1 'Roboto';
    width: 670px;
    border-radius: 3px;
    outline: none;
    border: 1px solid transparent;
    padding: 20px 50px 20px 25px;
    color: #90a4ae;
    font-weight: 500;
    box-shadow: 0 1px 10px 0 rgba(100, 100, 100, 0.75);    
}
.inner .search-section input:focus{
    border: 1px solid #8bc34a;
}
.inner .search-section input::-webkit-input-placeholder{
    color: #90a4ae;
}  
.inner .search-section input::-moz-placeholder{
    color: #90a4ae;
}  
.inner .search-section input:-moz-placeholder{
    color: #90a4ae;
}  
.inner .search-section input:-ms-input-placeholder{
    color: #90a4ae;
}  
.inner .search-section .icon-search{
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    color: #78909c;
    font-size: 20px;
    position: absolute;
    bottom: 17px;
    right: 20px;
}
.inner .search-section .icon-search:hover{
    color: #8bc34a;
}
/******** INNER END ********/

/******** LETS-CHECK START ********/
.lets-check .nav-tabs{
    margin: 58px 0;
}
.lets-check .nav-tabs .nav li{
    font-weight: 500;
    font-size: 14px;
}
.lets-check .product-card-section .row + .row{
    margin-top: 32px;
}
.lets-check .btn-row{
    margin-top: 76px;
}
.lets-check .btn-row a + a{
    margin-left: 12px;
}
/******** LETS-CHECK END ********/

/******** WEEK-TRENDING ********/
.week-trending .slick-dotted.slick-slider{
    margin-bottom: 0;
}
.week-trending .card-items-slider{
    margin-top: 55px;
}
.week-trending .card-items-slider .slider-item{
    margin: 0 10px;
}
.week-trending .slick-dots{
    margin-top: 67px;
    position: static;
}
/******** WEEK-TRENDING END ********/

/******** WHY-CHOOSE-FOXTAR START ********/
.why-choose-foxtar .advantages{
    margin-top: 87px;
}
.why-choose-foxtar .advantages .advantages-item .title{
    margin: 33px 0 23px;
}
.why-choose-foxtar .advantages .advantages-item:hover .title{
    color: #8bc34a;
}
.why-choose-foxtar .advantages .advantages-item p{
    color: #b0bec5;
    text-align: center;
}
/******** WHY-CHOOSE-FOXTAR END ********/

/******** BECOME-AUTHOR START ********/
.become-author .big-rectangle{
    height: 440px;
    width: 1100px;
    background-color: #b5b5b5;
    position: relative;
}
.become-author .big-rectangle .small-rectangle{
    padding: 76px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.become-author .big-rectangle .small-rectangle .title{
    line-height: 36px;
}
.become-author .big-rectangle .small-rectangle .become-author-btn{
    margin-left: 30px;
}
/******** BECOME-AUTHOR END ********/

/******** FREE-TUTORIALS START ********/
.free-tutorials .title{
    margin-bottom: 58px;
}
.free-tutorials .free-tutorials-item .title{
    padding: 40px 0;
    text-align: center;
    background-color: #f8f8f8;
}
.free-tutorials .free-tutorials-item:hover{
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
    transition: all .2s linear;
}
/******** FREE-TUTORIALS END ********/