/* ====== SALES-STATEM START ===== */
.sales-statement-section {
    background-color: #f4f6f5;
    padding-bottom: 137px;
}
.your-sales .sales-table {
    background-color: #FFFFFF;
    border: 1px solid #dedede;
}
.your-sales .sales-table .default-data {
    padding: 20px 30px 25px 30px;
    border-bottom: 1px solid #d7d7d7;
}
.your-sales .sales-table .panel {
    padding: 35px 35px 0 40px;
}
.your-sales .sales-table .total-price {
    padding-top: 80px;
    padding-bottom: 80px;
}
/* ====== SALES-STATEM END ===== */

/* ====== DATAPICKER START ===== */
.datepicker  {
    margin-right: 13px;
}
.datepicker.form-control-data + .form-control-data {
    margin-right: 12px;
}
.datepicker .title {
    padding: 0 12px 0 10px;
}
.datepicker .form-control-data {
    height: 28px;
    padding-left: 14px;
    width: 134px;
}
.default-data .btn {
    padding: 9px 22px;
}
/* ====== DATAPICKER END ===== */