/****** UPLOAD PRODUCT ******/
.upload-product{
    padding-bottom: 110px;
}
.upload-product .upload-product-wrap{
    border: 1px solid #dfdfdf;
}
.upload-product .upload-section{
    padding: 43px 45px 67px;
}
.upload-product  .title{
    padding: 20px 33px;
    border-bottom: 1px solid #d7d7d7;
}
.upload-product .upload-section form .submit-btn-wrap{
    width: 80%;
}
.upload-product .upload-section form button{
    outline: none;
    padding: 16px 38px;
    margin-top: 22px;
    /* margin-left: 210px; */
}
/****** UPLOAD PRODUCT END ******/